
.all{
    display: flex;
    width: auto;
    background-color: #dedede;
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
}
.left{
    font-weight: bold;
    display: flex;
    margin: 20px;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
}
.left_1{
    width: 70px;
    height: 70px;
    background-color:#dfdfdf ;
    margin-right: 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
    text-align: center;
}
.center{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    flex:1;
    padding-top: 30px;
    padding-left:50px;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
    color: gray;
    background-color: #ffffff;
}
.right{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 120px;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
}
.right_1{
    font-weight: bold;
    font-size:10px;
    width: 50px;
    height: 50px;
    background-color:#dfdfdf ;
    margin: 14px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:gray;
    text-align: center;
}